#content {padding:25px 30px;}
.contact {padding-top:25px; height:127px;}
#footer {padding-top:1px;}
.shadowRight img {margin-right:12px;}
.shadowLeft img {margin-right:12px;}
.gallery {margin-right:-50px}
.gallery b {position:relative; left:-10px;}